extends layout

block scripts
	script(src="/scripts/main.js")

block content

	div.heading
		div.title DAVID ZHU
		div.tab 
			div.t_in a
			div.t_in_change
				| b
				| o
				| u
				| t

		div.tab 
			div.t_in p


		div.tab 
			div.t_in b


		div.tab 
			div.t_in c

