extends layout

block content

    div.heading
        div.avatar
            img.avatar1(src ="/images/avatar.png")

        div.title
            p.title1 HUANZHEN DAVID ZHU
            p.title2
                | Huanzhen.Zhu@students.olin.edu | 432-363-4322