extends layout

block content
	div.about_box
		div.inner_about_box
			div.info_left
				div.info_left occupation
				div.info_left
				div.info_left
				div.info_left email
				div.info_left
				div.info_left networks
				div.info_left
				div.info_left
				div.info_left pdf
			div.info_right
				div.info_right student at 
					a(href="https://www.olin.edu/", target="_blank") olin college
				div.info_right researcher in 
					a(href="https://huanglab.olin.edu", target="_blank") huang lab
				div.info_right
				div.info_right
					a(href="mailto:huanzhen.zhu@students.olin.edu", target="_blank") huanzhen.zhu@students.olin.edu
				div.info_right
				div.info_right
					a(href="https://www.linkedin.com/pub/huanzhen-zhu/64/5ab/a12", target="_blank") linkedin
				div.info_right 
					a(href="https://www.facebook.com/huanzhendavidzhu", target="_blank") facebook
				div.info_right
				div.info_right resume
				div.info_right portfolio

