extends layout

block scripts
	script(src="/scripts/main.js")

block content
	div.heading
		div.title DAVID ZHU
		div.tab.hidden about
		div.tab.hidden projects
		div.tab.hidden blog
		div.tab.hidden contact