extends layout

block scripts
    script(src="/scripts/main.js")

block content

    div.heading
        div.title DAVID ZHU
        //- div.about
        //- 	img(src="/public/images/a_blue")
        div.projects
        div.blog
        div.contact