extends layout

block scripts
    script(src="/scripts/main.js")

block content

    div.heading
        div.avatar
            img.avatar1(src ="http://en.gravatar.com/userimage/44224928/758467386265d5fd021cdb134690c215.jpg?size=100")

        div.title
            p.title1 HUANZHEN DAVID ZHU
            p.title2
                | Huanzhen.Zhu@students.olin.edu | 432-363-4322