extends layout

block content
	div.projects_box
		div.inner_about_box
			div.p_info_left
				div.p_info_left huanglab.olin.edu
				div.p_info_left
			div.p_info_right
				div.p_info_right a research website I designed for professor huang for her laboratory.