* {
  /*border : 1px solid black;*/
}






/*Part 2*/

body {
  font: 14px 'Sintony', Arial, sans-serif;
}

a {
  color: #4660A2;
}

.title {
  display: inline-block;
  min-width: 450px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 72px;
  margin: auto;
  padding-left: 10%;
  vertical-align: top;
}

.heading {
}

.tab {
  display: inline-block;
  width: 25px;
  vertical-align: top;
  margin-left: 100px;
}

.t_in {
  color: gray;
  font-size: 36px;
  text-align: center;
  float: right;
  margin: auto;
  width: 25px;
  display: block;
  padding-top: 10px;
}

.t_in_change {
  color: blue;
  font-size: 36px;
  text-align: center;
  float: right;
  margin: auto;
  width: 25px;
  display: block;
}