* {
   /*border :1px solid black;*/
}

body {
  padding: 0px;
  font: 14px Myraid Pro, Arial, sans-serif;
}

a {
  color: #4660A2;
}

.title {
    width: 30%;
    display: inline-block;
    min-width: 450px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 72px;
}

.heading {
    width: 100%;
    height: 100%;
}