* {
   /*border: 1px solid black;*/
}

body {
  padding: 50px;
  font: 14px Arial, sans-serif;
}

a {
  color: #4660A2;
}

.title1 {
    font-family: Arial;
    text-align: center;
    font-size: 36px;
    margin-top: 0%;
}

.title2 {
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    margin-top: -2%;
    color: #88878C;
}